* {
    box-sizing: border-box; /* changes width property
    to total width instead of content width */
}

*:before, *:after{
    box-sizing: border-box;
}

body {
    margin: 0; /* remove any margin from body */
    padding: 0; /* ditto for padding */
    font-family: 'Helvetica', sans-serif;
    font-size: 20px;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Sansita');
h1,h2,h3,h4,h5,h6 {
    font-family: 'Sansita', sans-serif;
    color: blue;
    text-align: center;

}

header {
    background-color: #0e89d5;
}

.logo {
    width: 50px;
    height: auto;

}

.site-name {
    font-size: 2em;
    font-weight: 600;
    color: black;
    text-align: center;
}

main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: #FFF;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("/pics/images/sunny-winter.jpg");
    background-size: cover;
}

.current, .overview {
    background-image: url("/weather/images/plan-images/raindrops.jpg");
    background-size: cover;
    background-color: rgba(200,200,200,.6);
    margin: .2em auto;
    border: 1px solid;
    border-radius: 5px;
    text-align: justify;
    border: 2px solid gray;
    margin-bottom: 2em;
}

.hour {
    display: none;
}

nav {
    background-color: #0e89d5;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    display: block;
}

nav a:link {
    text-decoration: none;
    color: #FFF;
}

nav a:visited {
    color: red;
}

nav a:hover {
    color: green;
}

nav a:active {
    color: cyan;
}


.navi{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    line-height: 1%;
}

footer {
    background-color: #0e89d5;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    margin-bottom: 2em;
    display: block;
}


