/*General*/
* {
    box-sizing: border-box; /* changes width property
    to total width instead of content width */
}

*:before, *:after{
    box-sizing: border-box;
}

article, aside, footer, header, nav, section, main, figcaption, figure {
    display : block;
}

body {
    margin: 0; /* remove any margin from body */
    padding: 0; /* ditto for padding */
    font-family: 'Helvetica', sans-serif;
    font-size: 20px;
    background-image: url("/pics/images/sunny-winter.jpg");
    background-size: contain;
}


h2,h3,h4,h5,h6 {
    font-family: 'Sansita', sans-serif;
    color: blue;
    text-align: center;

}

/*Head*/

header {
    background-color: #0e89d5;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo {
    width: 50px;
    height: 50px;
    padding: 5px;
    float: left;
}

.site-name {
    font-size: 2em;
    font-weight: 600;
    color: black;
    padding-left: 10px;
}

/*Main*/

main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: #FFF;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("/pics/images/sunny-winter.jpg");
    background-size: contain;
}

.current, .overview {
    background-image: url("/weather/images/plan-images/raindrops.jpg");
    background-size: cover;
    background-color: rgba(200,200,200,.6);
    margin: .2em auto;
    border: 1px solid;
    border-radius: 5px;
    text-align: justify;
    border: 2px solid gray;
    margin-bottom: 4em;
}

.hour {
    display: none;
}

.navi {
    background-color: #0e89d5;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    list-style: none;
    justify-content: space-around;
}


nav a:link {
    text-decoration: none;
    color: #FFF;
}

nav a:visited {
    color: red;
}

nav a:hover {
    color: green;
}

nav a:active {
    color: cyan;
}

footer {
    background-color: #0e89d5;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    margin-bottom: 2em;
    display: flex;
    justify-content: center;
}



@media only screen and (min-width: 100px) {

    .navi {
        background-color: #0e89d5;
        display: flex;
        list-style: none;
        justify-content: space-around;
    }

    .hour {
        margin: .2em auto;
        border: 1px solid;
        border-radius: 5px;
        text-align: justify;
        border: 2px solid gray;
        margin-bottom: 2em;
    }

    main {
        display: flex;
        background-color: #FFF;
        justify-content: space-between;
    }
}


